:root {
    --color-darker: #557153;
    --color-dark: #7D8F69;
    --color-light: #A9AF7E;
    --color-lighter: #E6E5A3;
}

* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
    /*scroll-behavior: smooth;*/
}

body {
    background-color: var(--color-lighter);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    overflow: hidden;
}

object {
    pointer-events: none;
}

table {
    margin-top: -20px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    text-align: left;
    height: 48px;
    padding: 4px;
}

.wrapper {
    width: fit-content;
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    height: 100%;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bt-link {
    background-color: var(--color-darker);
    color: whitesmoke;
    padding: 30px 6px;
    max-width: 400px;
    min-width: 300px;
    margin: 6px auto;
    font-size: larger;
    font-weight: 800;
    text-decoration: none;
    text-align: center;
}

.bt-link-sm {
    width: 48px;
    height: 48px;
    margin: 4px;
    padding: 0;
}

.bar {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: large;
    align-items: center;
    height: 60px;
    width: 98%;
    padding: 4px;
    background-color: var(--color-darker);
    color: whitesmoke;
}

.bar-tools {
    visibility: hidden;
    z-index: 200;
    position: fixed;
    padding:0;
    top: 0;
    left: 0;
}

.form-center {
    text-align: center;
}

.label-block {
    display: block;
}

.textbox {
    padding: 15px;
    border: 1px solid #ccc;
    background-color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
}

tr {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: var(--color-light);
}

.tr-selected {
    background-color: var(--color-light);
    color: black;
}

.list-panel {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: var(--color-lighter);
}