:root {
    --color-darker: #557153;
    --color-dark: #7D8F69;
    --color-light: #A9AF7E;
    --color-lighter: #E6E5A3;
}

* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

body {
    position: relative;
    background-color: var(--color-lighter);
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    margin-top: -20px;
    width: 100%;
    border-collapse: collapse;
    font-family: arial, sans-serif;
}

td {
    padding: 4px;
    height: 48px;
    text-align: left;
}

th {
    padding: 4px;
    height: 48px;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
}

.bt-link {
    margin: 6px auto;
    background-color: var(--color-darker);
    padding: 30px 6px;
    min-width: 300px;
    max-width: 400px;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    font-size: larger;
    font-weight: 800;
}

.bt-input-200 {
    display: block;
    margin: 10px auto 10px;
    border-style: solid;
    border-color: white;
    background-color: #7D8F69;
    padding: 10px;
    width: 200px;
    color: white;
    font-size: large;
}

.s48x48 {
    width: 48px;
    height: 48px;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-darker);
    padding: 4px;
    width: 98%;
    height: 60px;
    color: whitesmoke;
    font-size: large;
    font-weight: bold;
}

.bar-top {
    box-sizing: border-box;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
    width: 100%;
}

.form-center {
    text-align: center;
}

.lb {
    display: table;
    margin-bottom: -10px;
    margin-left: 5px;
    color: #557153;
    font-size: 12px;
    font-weight: bold;
}

.textbox {
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: whitesmoke;
    padding: 15px;
}

tr {
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: var(--color-light);
}

.tr-selected {
    background-color: var(--color-light);
    color: black;
}

.list-panel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--color-lighter);
    padding-top: 20px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.popup {
    position: absolute;
    padding-top: 60px;
    width: 100%;
    text-align: center;
}

.w100 {
    width: 100%;
}

.photo-small {
    max-width: 200px;
    max-height: 200px;
}

.photo-large {
    max-width: 95%;
    max-height: 95%;
}

#version {
    margin-top: 20px;
    color: var(--color-darker);
    font-size: small;
}

/*

.string:
    Identifies labels to change at runtime.
    Used for multilanguage.

.clhl:
    Identifies clickable objects

*/